*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
body{
  background-color:#262626;
  opacity : 0;
  transition : opacity 1s ease; 
}
.loaded {
  opacity : 1;
}
header{
  background-color: #262626;
}
li{
  list-style: none;
}
a{
  color:white;
  text-decoration:none ;
}
.navbar{
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
}
.nav-menu{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap:60px;
}
.nav-branding{
  font-size: 2rem;
}
.nav-link{
  transition: 0.7s ease;
}
.nav-link:hover{
  color: dodgerblue;
}
.hamburger{
  display: none;
}
.bar{
  display: block;
  width: 25px;
  height:3px;
  margin:5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all o.3s ease-in-out;
  background-color:white;
}
@media(max-width:768px){
  .hamburger{
    display: block;
  }
  .hamburger.active .bar:nth-child(2){
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(1){
  transform: translateY(-8px) rotate(-45deg);
  }
  .nav-menu{
    position: fixed;
    z-index: 9999;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background-color: #424242;
    width:100%;
    text-align: center;
    transition: 0.3s;
  }
  .nav-item{
    margin: 16px 0;
  }
  .nav-menu.active{
    left:0;
    position: fixed;
    z-index: 9999;
  }
}
.homepage-body{ 
  display: flex;
  flex-wrap: wrap;
  flex-grow:5;
  flex-shrink: 1;
  gap: 2rem;
  text-align: start;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 50px;
}
.branding-body{
  position: relative;
  font-family: 'Poppins', sans-serif;
  font-size: 300%;
  z-index: 9998;
  background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.homepage-body p{
}
.infoOne{
  font-size: 150%;
  color:white
}
.infoBullet{
  font-size: 100%;
  color:gray
}
.socialIcons{
  display: flex;
  flex-wrap: wrap;
  flex-grow:5;
  flex-shrink: 1;
  gap: 2rem;
  text-align: start;
  flex-direction: row;
  font-size: 150%;
}
.currentTime{
  color:white;
}
.about-body { 
  display: flex;
  flex-wrap: wrap;
  flex-grow: 5;
  flex-shrink: 1;
  gap: 2rem;
  text-align: start;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 50px;
}

.about-branding-body {
  position: relative;
  font-family: 'Poppins', sans-serif;
  font-size: 300%;
  z-index: 9998;
  background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.image-container {
  width: 100%; /* Set the container width to fill the available space */
}

.aboutPhoto {
  width: 100%; /* Set the image width to fill the container */
  height: auto; /* Automatically adjust the height to maintain the aspect ratio */
  border-radius: 20px; /* Adjust the value to control the roundness of the corners */
  max-width: 800px; /* Set the maximum width for the image */  
}

.aboutOne,
.aboutTwo,
.aboutThree {
  color: white;
  gap: 2rem;
}

.aboutFour {
  color: gray;
}

.skills {
  color: gray;
}

.socialIcons {
  /* Add styles for social icons here */
}
.contact-body { 
  display: flex;
  flex-wrap: wrap;
  flex-grow: 5;
  flex-shrink: 1;
  gap: 2rem;
  text-align: start;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 50px;
}
.contact-branding-body{
  position: relative;
  font-family: 'Poppins', sans-serif;
  font-size: 300%;
  z-index: 9998;
  background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.contact-One{
  color: white;
  gap: 2rem;
}
.contactsocialIcons{
  display: flex;
  flex-wrap: wrap;
  flex-grow:5;
  flex-shrink: 1;
  gap: 2rem;
  text-align: start;
  flex-direction: row;
  font-size: 150%;
}
